.myCustomFrame_Parameters {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 6px;
}

.myCustom20pHeight_Parameters {
  min-height: 20%;
}

.myCustom10pxHeight_Parameters {
  min-height: 10px;
}